DISCORD_TOKEN=asd
WELCOME_CHANNEL_ID=asd
WELCOME_BANNER_URL=banner.jpg
WELCOME_ROLE_ID=asd
BOOST_CHANNEL_ID=asd
BOOST_BANNER_URL=banner.png
CSGO_SERVER_IP=45.235.98.242
CSGO_SERVER_PORT=27035
MAP_NOTIFY_CHANNEL_ID=
TICKET_CATEGORY_ID=
ADMIN_ROLE_ID=
SUGERENCIAS_RESULT_CHANNEL_ID=